<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <div >
    <div style = "width: 100px; height: 100px; float:left;text-align: center; font-size: 20px;"><p style = "margin-top: 40px;">인증번호:</p></div>
    <div style=" float:left; width: 300px; height: 100px; background-color: #eee; text-align: center; line-height: 100px; font-size:30px;">
       {{ verification_code }}
    </div>
    </div>

</body>
</html>
