/* .slick-dots {
    position: absolute; 
    bottom: -51px; 
    width: 100%; 
    display: flex;
    justify-content: center; 
  }
  
  .slick-dots li button:before {
    font-size: 12px; 
    color: gray;
  }
  
  .slick-dots li.slick-active button:before {
    color: black; 
  }
   */